<div th:fragment="eshopperContent">

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Thể loại</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Eshopper</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Cửa hàng</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Lọc theo giá</h5>
                    <form>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="price-all" />
                            <label class="custom-control-label" for="price-all">Tất cả mức giá</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-1" />
                            <label class="custom-control-label" for="price-1">50.000 - 100.000</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-2" />
                            <label class="custom-control-label" for="price-2">100.000 - 150.000</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-3" />
                            <label class="custom-control-label" for="price-3">150.000 - 200.000</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-4" />
                            <label class="custom-control-label" for="price-4">200.000 - 250.000</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="price-5" />
                            <label class="custom-control-label" for="price-5">300.000 - 400.000</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                <!-- Price End -->

                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Lọc theo thể loại</h5>
                    <form>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="color-all" />
                            <label class="custom-control-label" for="price-all">Tất cả thể loại</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1" />
                            <label class="custom-control-label" for="color-1">Tiểu thuyết</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-2" />
                            <label class="custom-control-label" for="color-2">Kỹ năng sống</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-3" />
                            <label class="custom-control-label" for="color-3">Tâm lý học</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-4" />
                            <label class="custom-control-label" for="color-4">Truyện cười</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="color-5" />
                            <label class="custom-control-label" for="color-5">Tôn giáo</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <div class="mb-5">
                    <h5 class="font-weight-semi-bold mb-4">Lọc theo tác giả</h5>
                    <form>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="size-all" />
                            <label class="custom-control-label" for="size-all">Tất cả tác giả</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-1" />
                            <label class="custom-control-label" for="size-1">Nguyễn Ngọc Thuần</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-2" />
                            <label class="custom-control-label" for="size-2">Nguyễn Nhật Ánh</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-3" />
                            <label class="custom-control-label" for="size-3">Vũ Trọng Phụng</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-4" />
                            <label class="custom-control-label" for="size-4">Nguyễn Hồng</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="size-5" />
                            <label class="custom-control-label" for="size-5">Ngô Tất Tố</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->

            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3" id="products">

                    <!-- Search and Sort Product Start -->
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">

                            <!-- Search Product Start -->
                            <form action="">
                                <div class="input-group">
                                    <input id="searchInput" type="text" class="form-control"
                                        placeholder="Tìm kiếm theo tên..." />
                                    <div class="input-group-append">
                                        <button type="button" id="searchBtn"
                                            class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- Search Product End -->

                        </div>
                    </div>

                    <!-- Search and Sort Product End -->

                    <div class="col-12 pb-1">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center mb-3" id="page-list">

                                <li class="page-item" style="cursor:pointer;" data-name="first-page"
                                    onclick="trangDau()">
                                    <a class="page-link">Trang đầu</a>
                                </li>


                                <li class="page-item" style="cursor:pointer;" data-name="previous-page"
                                    onclick="luiTrang()">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>

                                <!-- <li class="page-item" data-name="page-number">
                    <a class="page-link">x</a>
                  </li> -->

                                <li class="page-item" style="cursor:pointer;" data-name="next-page"
                                    onclick="tienTrang()">
                                    <a class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>

                                <li class="page-item" style="cursor:pointer;" data-name="last-page"
                                    onclick="trangCuoi()">
                                    <a class="page-link">Trang cuối</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

    <script>

        var categoryId;
        var name = "";

        var totalPage;
        var pageNumber = 0;


        // Tìm kiếm sản phẩm bằng URL
        var currentUrl = window.location.href;
        if (currentUrl.includes('?')) {
            // Create a URLSearchParams object from the URL
            var urlSearchParams = new URLSearchParams(currentUrl.split('?')[1]);

            // Retrieve the value of the 'name' parameter
            categoryId = urlSearchParams.get('id');
        } else {
            window.location.href = "/eshopper/home"
        }

        $(document).ready(function () {
            // Sự kiện khi nhập và xóa trong ô tìm kiếm
            $("#searchInput").on("input", function (e) {
                performSearch();
            });

            // Hàm thực hiện gọi API tìm kiếm
            function performSearch() {
                name = $("#searchInput").val();
                napDanhSachSanPham(categoryId, name, pageNumber);
            }
        });

        function tienTrang() {
            if (pageNumber == totalPage) return;
            pageNumber += 1;
            napDanhSachSanPham(categoryId, name, pageNumber);
        }

        function luiTrang() {
            if (pageNumber == 0) return;
            pageNumber -= 1;
            napDanhSachSanPham(categoryId, name, pageNumber);
        }

        function trangDau() {
            pageNumber = 0;
            napDanhSachSanPham(categoryId, name, pageNumber);
        }

        function trangCuoi() {
            napDanhSachSanPham(categoryId, name, totalPage);
        }

        $(document).ready(function () {
            // Sự kiện khi nhập và xóa trong ô tìm kiếm
            $("#searchInput").on("input", function (e) {
                performSearch();
            });

            // Hàm thực hiện gọi API tìm kiếm
            function performSearch() {
                name = $("#searchInput").val();
                pageNumber = 0;
                napDanhSachSanPham(categoryId, name, pageNumber);
            }
        });

        function napDanhSachSanPham(categoryId, name, page) {
            fetch("/user/product/findbycate?categoryId=" + categoryId + "&name=" + name + "&page=" + page, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then((res) => res.json())
                .then((data) => {

                    console.log(categoryId)
                    console.log(name)
                    console.log(page)

                    console.log(data);

                    pageNumber = data.number;
                    totalPage = data.totalPages - 1;

                    const products = document.getElementById("products");
                    products.querySelectorAll('.product-item').forEach(i => i.remove())

                    data.content.forEach((item) => {
                        const product = document.createElement("div");
                        product.classList.add(
                            ..."col-lg-4 col-md-6 col-sm-12 pb-1 product-item".split(" ")
                        );

                        const formattedRetail = item.retail.toLocaleString('vi-VN', { style: 'currency', currency: 'VND', });

                        product.innerHTML = `
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src = "/user/product/download/${item.picture}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">${item.name}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${formattedRetail}</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="/eshopper/product/detail?id=${item.id}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem sản phẩm</a>
  
                        <div class="button-add-detail-container">
                          <div class="icon-add-orderdetail-container">
                              <div id="iconAddOrderDetail-${item.id}" class="icon-add-orderdetail"></div>
                          </div>
                            <a onclick="themVaoGio(${item.id})" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
                `;

                        products.insertBefore(product, products.lastElementChild);

                    });
                });
        }

        napDanhSachSanPham(categoryId, name, pageNumber);

    </script>

</div>