<!-- Page Header Start -->
<div th:fragment="eshopperContent">

    <!-- Bắt đầu slide -->
    <div class="container-fluid mb-5">
        <div class="row justify-content-end px-xl-5">
            <div class="col-lg-12 mt-3">
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div id="slide-carousel" class="carousel-inner">
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const slideCarousel = document.getElementById("slide-carousel");

        fetch("/user/home/carousel", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(res => {
            if (res.ok) {
                res.json().then(slide => {
                    for (var i = 0; i < slide.length; i++) {
                        const carouselItem = document.createElement("div");
                        carouselItem.classList.add("carousel-item");

                        carouselItem.style.height = "410px";

                        carouselItem.innerHTML = `<img class="img-fluid" src="/user/home/slide/download/${slide[i].picture}" alt="Image">
                                                    <div class="d-flex flex-column align-items-center justify-content-center"></div>`
                        slideCarousel.appendChild(carouselItem);
                        if (i == 0) {
                            carouselItem.classList.add("active");
                        }
                    }
                })
            }
        })
    </script>
    <!-- Kết thúc Slide -->


    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Chất lượng</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Miễn phí ship</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Hoàn trả 14 ngày</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->


    <!-- Bắt đầu Thể loại -->
    <div class="container-fluid pt-5">
        <div id="categories-home" class="row px-xl-5 pb-3">
        </div>
    </div>

    <script>
        const categoriesHome = document.getElementById("categories-home");

        fetch("/user/home/category", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(res => {
            if (res.ok) {
                res.json().then(categories => {

                    categories.forEach((item) => {
                        const categoryItem = document.createElement("div");
                        categoryItem.classList.add(..."col-lg-4 col-md-6 pb-1".split(" "));
                        categoryItem.innerHTML = `
                            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                                <p class="text-right">${item.products.length} sản phẩm</p>
                                <a href="/eshopper/category?id=${item.id}" class="cat-img position-relative overflow-hidden mb-3">
                                    <img class="img-fluid" src="/user/home/category/download/${item.picture}" alt="">
                                </a>
                                <h5 class="font-weight-semi-bold m-0">${item.name}</h5>
                            </div>
                            `;
                        categoriesHome.appendChild(categoryItem);
                    })
                })
            }
        })
    </script>
    <!-- Kết thúc thể loại -->

    <!-- Offer Start -->
    <div class="container-fluid offer pt-5">
        <div class="row px-xl-5">
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                    <img src="" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">GIẢM GIÁ 20% MỌI MẶT HÀNG</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Trọn bộ kỹ năng sống</h1>
                        <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                    <img src="" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">GIẢM GIÁ 20% MỌI MẶT HÀNG</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Trọn bộ tiểu thuyết</h1>
                        <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->


    <!-- Bắt đầu xu hướng -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Xu hướng</span></h2>
        </div>
        <div id="trending-home" class="row px-xl-5 pb-3">
        </div>
    </div>

    <script>
        const trendingHome = document.getElementById("trending-home");
        fetch("/user/home/trending", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(res => {
            if (res.ok) {
                res.json().then(products => {

                    products.forEach((item) => {
                        const productItem = document.createElement("div");
                        productItem.classList.add(..."col-lg-3 col-md-6 col-sm-12 pb-1".split(" "));

                        const formattedRetail = item.retail.toLocaleString('vi-VN', {
                            style: 'currency',
                            currency: 'VND',
                        });

                        productItem.innerHTML = `
                            <div class="card product-item border-0 mb-4">
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <img class="img-fluid w-100" src="/user/product/download/${item.picture}" alt="">
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <h6 class="text-truncate mb-3">${item.name}</h6>
                                    <div class="d-flex justify-content-center">
                                        <h6>${formattedRetail}</h6>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between bg-light border">
                                    <a href="/eshopper/product/detail?id=${item.id}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi
                                        tiết</a>
                                    
                                    <div class="button-add-detail-container">
                                        <div class="icon-add-orderdetail-container">
                                            <div id="iconAddOrderDetail-${item.id}" class="icon-add-orderdetail"></div>
                                        </div>
                                        <a onclick="themVaoGio(${item.id})" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ</a>
                                    </div>
                                        
                                </div>
                            </div>
                            `;
                        trendingHome.appendChild(productItem);
                    })
                })
            }
        })

    </script>
    <!-- Kết thúc xu hướng -->


    <!-- Subscribe Start -->
    <div class="container-fluid bg-secondary my-5">
        <div class="row justify-content-md-center py-5 px-xl-5">
            <div class="col-md-6 col-12 py-5">
                <div class="text-center mb-2 pb-2">
                    <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Nhận thông báo mới</span></h2>
                    <p>Hãy nhập địa chỉ email của bạn để chúng tôi có thể đem tới cho bạn thông tin những cuốn sách đang
                        được bán chạy nhất.</p>
                </div>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-4" placeholder="Nhập địa chỉ Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Theo dõi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Subscribe End -->


    <!-- Bắt đầu bán chạy -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Bán chạy</span></h2>
        </div>
        <div id="bestseller-home" class="row px-xl-5 pb-3">
        </div>
    </div>

    <script>

        const bestSellerHome = document.getElementById("bestseller-home");

        fetch("/user/home/bestseller", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(res => {
            if (res.ok) {
                res.json().then(products => {

                    products.forEach((item) => {
                        const productItem = document.createElement("div");
                        productItem.classList.add(..."col-lg-3 col-md-6 col-sm-12 pb-1".split(" "));

                        const formattedRetail = item.product.retail.toLocaleString('vi-VN', {
                            style: 'currency',
                            currency: 'VND',
                        });

                        productItem.innerHTML = `
                            <div class="card product-item border-0 mb-4">
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <div class="position-absolute top-0 end-0 p-2">
                                        <span class="badge badge-primary">Đã bán <span
                                                class="badge bg-light text-dark">${item.totalQuantity}+</span></span>
                                    </div>
                                    <img class="img-fluid w-100" src="/user/product/download/${item.product.picture}" alt="">
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <h6 class="text-truncate mb-3">${item.product.name}</h6>
                                    <div class="d-flex justify-content-center">
                                        <h6>${formattedRetail}</h6>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between bg-light border">
                                    <a href="/eshopper/product/detail?id=${item.product.id}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi
                                        tiết</a>
                                    
                                    <div class="button-add-detail-container">
                                        <div class="icon-add-orderdetail-container">
                                            <div id="iconAddOrderDetail-${item.product.id}" class="icon-add-orderdetail"></div>
                                        </div>
                                        <a onclick="themVaoGio(${item.product.id})" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ</a>
                                    </div>
                                        
                                </div>
                            </div>
                            `;
                        bestSellerHome.appendChild(productItem);
                    })
                })
            }
        })

    </script>

    <!-- Best Seller End -->


    <!-- Bắt đầu Quảng cáo -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Nhà tài trợ</span></h2>
        </div>
        <div id="advertise-carousel" class="row px-xl-5 pb-3">
        </div>
    </div>
    <!-- Kết thúc quảng cáo -->

    <script>
        const advertiseCarousel = document.getElementById("advertise-carousel");

        // Nạp hình ảnh quảng cáo
        fetch("/user/home/advertise", {
            ...genConfig()
        }).then(res => {
            if (res.ok) {
                res.json().then(advertise => {
                    advertise.forEach(item => {
                        const advertiseItem = document.createElement('div');
                        advertiseItem.classList.add(..."col-lg-2 col-md-6 col-sm-12 pb-1".split(" "));
                        advertiseItem.innerHTML = `
                            <div class="card product-item border-0 mb-4">
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <img class="img-fluid w-100" src="/user/home/advertise/download/${item.picture}" alt="">
                                </div>
                            </div>
                            `;
                        advertiseCarousel.appendChild(advertiseItem);                        
                    })
                })
            }
        })

    </script>

    <!-- Vendor End -->
</div>