<div th:fragment="modal_edit">
    <script>
        function napThongTinCapNhat(id) {
            document.querySelector('#editModal form').reset()
            fetch('/advertise/get?id=' + id, { ...genConfig() })
                .then(res => {
                    if (res.ok) {
                        res.json().then(data => {
                            const dom = document.querySelector('#editModal form')

                            Object.keys(data).forEach(i => {
                                if (!["active"].includes(i)) {
                                    const input = dom.querySelector(`input[name=${i}]`)
                                    if (input != null)
                                        input.value = data[i]
                                }
                            })

                            const activeDom = dom.querySelector('input[name=active]')
                            if (activeDom != null) {
                                activeDom.checked = data.active
                            }

                            const img = document.getElementById('edit-picture-img')
                            if (data.picture != null)
                                img.src = "/advertise/download/" + data.picture
                            else
                                img.src = "/content/admin/img_default/default_advertising.jpg"

                        })
                    }
                })
        }
    </script>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="editModalLabel" style="color: white;">Sửa quảng cáo
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="val-table-number" class="form-label col-sm-3">ID <span
                                    class="text-danger">*</span></label>
                            <input class="form-control col-sm-8 label" name="id" readonly />
                        </div>

                        <div class="form-group row">
                            <label for="val-number-of-people" class="form-label col-sm-3">Tên quảng cáo <span
                                    class="text-danger">*</span></label>
                            <input type="text" name="name" required class="form-control col-sm-8"
                                id="val-number-of-people" placeholder="Nhập tên quảng cáo...">
                        </div>

                        <div class="form-group row">
                            <label for="val-number-of-people" class="form-label col-sm-3">Thương hiệu <span
                                    class="text-danger">*</span></label>
                            <input type="text" name="brand" required class="form-control col-sm-8"
                                id="val-number-of-people" placeholder="Nhập thương hiệu...">
                        </div>

                        <div class="form-group row">
                            <label for="val-name" class="form-label col-sm-3">Logo <span
                                    class="text-danger">*</span></label>
                            <div class="d-flex">
                                <img id="edit-picture-img" width="100" class="rounded border" />
                                <div class="ml-3 d-flex flex-column">
                                    <input type="file" name="picture_file" class="d-none" id="file-picture-edit"
                                        required />
                                    <input type="hidden" name="picture">
                                    <label for="file-picture-edit" class="btn btn-primary"><i
                                            class="fa fa-cloud-upload-alt"></i></label>
                                    <label class="btn btn-danger" onclick="xoaPicture()"><i
                                            class="far fa-trash-alt"></i></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="edit-active" class="form-label col-sm-3">Kích hoạt<span
                                    class="text-danger">*</span></label>
                            <div class="custom-control custom-switch custom-control-lg custom-control-inline mb-2">
                                <input type="checkbox" class="custom-control-input" id="edit-active" name="active">
                                <label class="custom-control-label" for="edit-active"> </label>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-success" onclick="capNhat()">Xác nhận</button>
                        </div>

                        <script>
                            const uploadEdit = document.querySelector('#editModal input[name=picture_file]')
                            uploadEdit.addEventListener("change", (e) => {
                                const file = e.target.files[0]
                                const fileReader = new FileReader()
                                fileReader.onload = () => {
                                    const img = document.getElementById('edit-picture-img')
                                    img.src = fileReader.result
                                }
                                fileReader.readAsDataURL(file)
                            })

                            function xoaPicture() {
                                document.querySelector('#editModal input[name=picture]').value = ""
                                document.querySelector('#edit-picture-img').src = "/content/admin/img_default/default_advertising.jpg"
                            }

                            function capNhat() {
                                const id = document.getElementById('editModal').dataset.id
                                const form = document.querySelector('#editModal form')
                                body = new FormData(form)
                                const options = genConfig();
                                delete options.headers["Content-Type"]
                                fetch('/advertise/update?id=' + id, {
                                    ...options,
                                    method: 'PUT',
                                    body
                                }).then(res => {
                                    if (res.ok) {
                                        $('#editModal').modal('hide')
                                        $('table').DataTable().ajax.reload()
                                    }
                                })
                            }
                        </script>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>