<div th:fragment="eshopperAuthen" class="contact-form bg-white">
  <div id="success"></div>
  <div class="p-5">
    <h4 class="pb-4">Quên mật khẩu</h4>
    <form name="sentMessage" id="user-forget" novalidate="novalidate">
      <div class="control-group">
        <input type="email" class="form-control" name="email" placeholder="Địa chỉ email" required="required"
          data-validation-required-message="Bạn chưa nhập địa chỉ email" />
        <p class="help-block text-danger"></p>
      </div>
      <!-- <div class="control-group">
        <input type="text" class="form-control" name="phone_number" placeholder="Số điện thoại" required="required"
          data-validation-required-message="Bạn chưa nhập số điện thoại" />
        <p class="help-block text-danger"></p>
      </div> -->
      <div class="control-group">
        <input type="password" class="form-control" name="new_password" placeholder="Mật khẩu mới" required="required"
          data-validation-required-message="Bạn chưa nhập mật khẩu mới" />
        <p class="help-block text-danger"></p>
      </div>
      <!-- <div class="control-group">
        <input type="password" class="form-control" name="password_again" placeholder="Nhập lại mật khẩu mới"
          required="required" data-validation-required-message="Bạn chưa nhập lại mật khẩu mới" />
        <p class="help-block text-danger"></p>
      </div> -->
      <div>
        <button class="btn btn-primary py-2 px-4" type="button" id="user-forgetbutton">
          Lấy mật khẩu
        </button>
      </div>
      <div class="pt-3">
        <p>Bạn đã có tài khoản Eshopper? <a href="/userauth/login">Đăng nhập</a></p>
      </div>
    </form>
  </div>

  <script>
    const formForget = document.getElementById("user-forget");
    const errorForgetMsg = document.getElementById("user-forgetererror");
    const forgetButton = document.getElementById("user-forgetbutton");

    forgetButton.addEventListener("click", () => {
      const formData = new FormData(formForget);
      const data = Object.fromEntries(formData.entries());
      console.log("done bind forget");
      fetch("/auth/forget", {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      }).then((res) => {
        if (res.ok) {
          res.json().then((success) => {
            location.href = "/userauth/login";
          })
        }
      })
    })
  </script>
</div>