<div th:fragment="modal_create">
    <!-- New Message Modal -->
    <div class="modal fade" id="one-inbox-new-message" tabindex="-1" role="dialog"
        aria-labelledby="one-inbox-new-message" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="be_pages_generic_inbox.html" method="POST" onsubmit="return false;">
                    <div class="block block-rounded block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">
                                <i class="fa fa-pencil-alt mr-1"></i> New Message
                            </h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="fa fa-fw fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content">
                            <div class="form-group">
                                <label for="message-email">Email</label>
                                <input class="form-control form-control-alt" type="email" id="message-email"
                                    name="message-email">
                            </div>
                            <div class="form-group">
                                <label for="message-subject">Subject</label>
                                <input class="form-control form-control-alt" type="text" id="message-subject"
                                    name="message-subject">
                            </div>
                            <div class="form-group">
                                <label for="message-msg">Message</label>
                                <textarea class="form-control form-control-alt" id="message-msg" name="message-msg"
                                    rows="6"></textarea>
                                <div class="form-text text-muted font-size-sm">Feel free to use common tags:
                                    &lt;blockquote&gt;, &lt;strong&gt;, &lt;em&gt;</div>
                            </div>
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="block-content block-content-full text-right border-top">
                            <button type="button" class="btn btn-alt-primary mr-1" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-paper-plane mr-1"></i> Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END New Message Modal -->

    <!-- Message Modal -->
    <div class="modal fade" id="one-inbox-message" tabindex="-1" role="dialog" aria-labelledby="one-inbox-message"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-popout" role="document">
            <div class="modal-content">
                <div class="block block-rounded block-themed block-transparent mb-0">
                    <div class="block-header bg-primary-dark">
                        <h3 class="block-title">Welcome to our service</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-toggle="tooltip" data-placement="left"
                                title="Reply" aria-label="Reply">
                                <i class="fa fa-fw fa-reply"></i>
                            </button>
                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content block-content-full text-center bg-image"
                        style="background-image: url('assets/media/photos/photo7.jpg');">
                        <img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/media/avatars/avatar4.jpg"
                            alt="">
                    </div>
                    <div
                        class="block-content block-content-full font-size-sm d-flex justify-content-between bg-body-light">
                        <a href="javascript:void(0)">user@example.com</a>
                        <span class="text-muted"><em>2 min ago</em></span>
                    </div>
                    <div class="block-content">
                        <p>Dear John,</p>
                        <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing
                            luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis
                            tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti
                            vestibulum quis in sit varius lorem sit metus mi.</p>
                        <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing
                            luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis
                            tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti
                            vestibulum quis in sit varius lorem sit metus mi.</p>
                        <p>Best Regards,</p>
                        <p>Barbara Scott</p>
                    </div>
                    <div class="block-content bg-body-light">
                        <div class="row gutters-tiny items-push font-size-sm">
                            <div class="col-md-4">
                                <div class="options-container fx-item-zoom-in mb-2">
                                    <img class="img-fluid options-item" src="assets/media/photos/photo1.jpg" alt="">
                                    <div class="options-overlay bg-black-75">
                                        <div class="options-overlay-content">
                                            <a class="btn btn-sm btn-light" href="javascript:void(0)">
                                                <i class="fa fa-download mr-1"></i> Download
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-muted">01.jpg (350kb)</div>
                            </div>
                            <div class="col-md-4">
                                <div class="options-container fx-item-zoom-in mb-2">
                                    <img class="img-fluid options-item" src="assets/media/photos/photo2.jpg" alt="">
                                    <div class="options-overlay bg-black-75">
                                        <div class="options-overlay-content">
                                            <a class="btn btn-sm btn-light" href="javascript:void(0)">
                                                <i class="fa fa-download mr-1"></i> Download
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-muted">02.jpg (480kb)</div>
                            </div>
                            <div class="col-md-4">
                                <div class="options-container fx-item-zoom-in mb-2">
                                    <img class="img-fluid options-item" src="assets/media/photos/photo3.jpg" alt="">
                                    <div class="options-overlay bg-black-75">
                                        <div class="options-overlay-content">
                                            <a class="btn btn-sm btn-light" href="javascript:void(0)">
                                                <i class="fa fa-download mr-1"></i> Download
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-muted">03.jpg (652kb)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Message Modal -->


    <!--
        OneUI JS Core

        Vital libraries and plugins used in all pages. You can choose to not include this file if you would like
        to handle those dependencies through webpack. Please check out assets/_es6/main/bootstrap.js for more info.

        If you like, you could also include them separately directly from the assets/js/core folder in the following
        order. That can come in handy if you would like to include a few of them (eg jQuery) from a CDN.

        assets/js/core/jquery.min.js
        assets/js/core/bootstrap.bundle.min.js
        assets/js/core/simplebar.min.js
        assets/js/core/jquery-scrollLock.min.js
        assets/js/core/jquery.appear.min.js
        assets/js/core/js.cookie.min.js
    -->
    
</div>