<div th:fragment="modal_edit">
    <script>
        function napThongTinCapNhat(id) {
            document.querySelector('#editModal form').reset()
            fetch('/orders/get?id=' + id, { ...genConfig() })
                .then(res => {
                    if (res.ok) {
                        res.json().then(data => {
                            const dom = document.querySelector('#editModal form')

                            Object.keys(data).forEach(i => {
                                if (!["userId", "state"].includes(i)) {
                                    const input = dom.querySelector(`input[name=${i}]`)
                                    if (input != null)
                                        input.value = data[i]
                                }
                            })

                            const stateDom = dom.querySelector('input[name=state]')
                            if (stateDom != null) {
                                stateDom.checked = data.state
                            }

                            $('#edit-user option').remove()
                            if (data.user != null) {
                                $('#edit-user').select2({
                                    placeholder: "Chọn người dùng",
                                    allowClear: true,
                                    ajax: {
                                        url: '/user/get',
                                        type: 'GET',
                                        headers: {
                                            "Authorization": "Bearer " + getJwtToken()
                                        },
                                        processResults: function (data) {
                                            return {
                                                results: data.map(i => ({
                                                    id: i.id,
                                                    text: i.full_name
                                                }))
                                            };
                                        }
                                    }
                                })

                                const userSelector = $('#edit-user')
                                var option = new Option(data.user.full_name, data.user.id, true, true)
                                userSelector.append(option).trigger('change')
                                userSelector.trigger({
                                    type: 'select2:select',
                                    params: {
                                        data: { id: data.user.id, text: data.user.full_name }
                                    }
                                })
                            }
                        })
                    }
                })
        }
    </script>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="editModalLabel" style="color: white;">Sửa đơn hàng
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="val-table-number" class="form-label col-sm-3">ID <span
                                    class="text-danger">*</span></label>
                            <input class="form-control col-sm-8 label" name="id" readonly />
                        </div>

                        <div class="form-group row items-push">
                            <label for="val-select2-multiple-role" class="form-label col-sm-3">Người dùng <span
                                class="text-danger">*</span></label>
                                <div class="form-control col-sm-8 p-0 border-0">
                                    <select class="form-control js-select2" id="edit-user" name="userId"
                                    style="width: 100%;" multiple>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="val-number-of-people" class="form-label col-sm-3">Ngày đặt hàng <span
                                    class="text-danger">*</span></label>
                            <input type="datetime-local" name="orderDate" required class="form-control col-sm-8"
                                id="val-number-of-people" placeholder="Nhập ngày đặt hàng...">
                        </div>

                        <div class="form-group row">
                            <label for="val-number-of-people" class="form-label col-sm-3">Chú thích <span
                                    class="text-danger">*</span></label>
                            <input type="text" name="note" required class="form-control col-sm-8"
                                id="val-number-of-people" placeholder="Nhập chú thích...">
                        </div>

                        <div class="form-group row">
                            <label for="edit-state" class="form-label col-sm-3">Kích hoạt <span
                                    class="text-danger">*</span></label>
                            <div class="custom-control custom-switch custom-control-lg custom-control-inline mb-2">
                                <input type="checkbox" class="custom-control-input" id="edit-state" name="state">
                                <label class="custom-control-label" for="edit-state"> </label>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-success" onclick="capNhat()">Xác nhận</button>
                        </div>

                        <script>
                            function capNhat() {
                                const id = document.getElementById('editModal').dataset.id
                                const form = document.querySelector('#editModal form')
                                const body = new FormData(form)
                                body.set('state', document.getElementById('edit-state').checked)
                                fetch('/orders/update?id=' + id, {
                                    headers: {...genConfig().headers},
                                    method: 'PUT',
                                    body: JSON.stringify(Object.fromEntries(body.entries()))
                                }).then(res => {
                                    if (res.ok) {
                                        $('#editModal').modal('hide')
                                        $('table').DataTable().ajax.reload()
                                    }
                                })
                            }
                        </script>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>